n8n/sovereign_workflow.json
{
  "name": "SureThing \u2192 Sovereign Computer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sovereign-invoke",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.secret }}",
              "value2": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "auth-check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:9000/run",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "body": {
          "goal": "={{ $json.body.goal }}",
          "secret": "={{ $env.SOVEREIGN_INTERNAL_SECRET }}"
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "invoke-sovereign",
      "name": "Invoke Sovereign Computer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        640,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauth",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        400
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Invoke Sovereign Computer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke Sovereign Computer": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_comment": "Import this into your self-hosted n8n. Set env vars: WEBHOOK_SECRET (shared with SureThing), SOVEREIGN_INTERNAL_SECRET (for localhost auth). The webhook URL becomes your SureThing endpoint."
}